# Introduction


## Problem Statement

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Data Preprocessing</a>

<a href=#four>4. Exploratory Data Analysis (EDA)</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## Importing packages

In [2]:
# Libraries for data loading, data manipulation and data visulisation

import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

from matplotlib import rc

import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

<a id="two"></a>
## Loading the Data

In [3]:
# importing datasets

train = pd.read_csv("train.csv")

test = pd.read_csv("test.csv")

df_gscores = pd.read_csv("genome_scores.csv")

df_gtags = pd.read_csv("genome_tags.csv")

df_imdb = pd.read_csv("imdb_data.csv")

df_links = pd.read_csv("links.csv")

df_movies = pd.read_csv("movies.csv")

df_tags = pd.read_csv("tags.csv")

### Overview of the datasets

<a id="three"></a>
## Data Preprocessing

In [4]:
# Create a copy of the train data

train_copy = train.copy()

df_train = train_copy

In [5]:
# Create a copy of the test data

test_copy = test.copy()

df_test = test_copy

### Merging datasets

In [6]:
# Merge the df_train and df_movies
df_merge = df_train.merge(df_movies, on='movieId')

#Checking df_merge dataset head
display(df_merge.head())

,userId,movieId,rating,timestamp,title,genres
0,5163,57669,4.0,1518349992,In Bruges (2008),Comedy|Crime|Drama|Thriller
1,87388,57669,3.5,1237455297,In Bruges (2008),Comedy|Crime|Drama|Thriller
2,137050,57669,4.0,1425631854,In Bruges (2008),Comedy|Crime|Drama|Thriller
3,120490,57669,4.5,1408228517,In Bruges (2008),Comedy|Crime|Drama|Thriller
4,50616,57669,4.5,1446941640,In Bruges (2008),Comedy|Crime|Drama|Thriller

In [7]:
# Merge the df_merge and df_imdb
df_merge1 = df_merge.merge(df_imdb, on='movieId')

#Checking df_merge dataset head
display(df_merge1.head())

#Checking for null values
display(df_merge1.isnull().sum())

,userId,movieId,rating,timestamp,title,genres,title_cast,director,runtime,budget,plot_keywords
0,5163,57669,4.0,1518349992,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,"$15,000,000",dwarf|bruges|irish|hitman
1,87388,57669,3.5,1237455297,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,"$15,000,000",dwarf|bruges|irish|hitman
2,137050,57669,4.0,1425631854,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,"$15,000,000",dwarf|bruges|irish|hitman
3,120490,57669,4.5,1408228517,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,"$15,000,000",dwarf|bruges|irish|hitman
4,50616,57669,4.5,1446941640,In Bruges (2008),Comedy|Crime|Drama|Thriller,Elizabeth Berrington|Rudy Blomme|Olivier Bonjo...,Martin McDonagh,107.0,"$15,000,000",dwarf|bruges|irish|hitman

userId                 0
movieId                0
rating                 0
timestamp              0
title                  0
genres                 0
title_cast       2604407
director         2602688
runtime          2653058
budget           3152276
plot_keywords    2610043
dtype: int64

<a id="four"></a>
## Explotory Data Analysis

<a id="five"></a>
## Modeling

<a id="six"></a>
## Model Performance

<a id="seven"></a>
## Model Explanations